<div data-dojo-attach-point="piano_roll_wrapper" data-dojo-type="dijit.layout.BorderContainer"
     data-dojo-props="design: 'headline'">
    <div data-dojo-attach-point="tool_box" data-dojo-type="dijit.Toolbar"
         data-dojo-props="region: 'top'">
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '全音符', iconClass: 'iconWholeNote', showLabel: false">全音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '2分音符', iconClass: 'iconHalfNote', showLabel: false">2分音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '4分音符', iconClass: 'iconQuarterNote', showLabel: false">4分音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '8分音符', iconClass: 'iconEighthNote', showLabel: false">8分音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '16分音符', iconClass: 'iconSixteenthNote', showLabel: false">16分音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '32分音符', iconClass: 'iconThirtysecondNote', showLabel: false">32分音符</div>
         <div data-dojo-attach-point="whole_note" data-dojo-type="dijit.form.Button"
              data-dojo-props="title: '64分音符', iconClass: 'dijitIconNewTask', showLabel: false">64分音符</div>
    </div>
    <div data-dojo-type="dijit.layout.ContentPane"
         data-dojo-props="region: 'center'" style="padding: 0" data-dojo-attach-point="body_wrapper">
        <div id="piano_roll" data-dojo-attach-point="piano_roll_body"></div>
    </div>
</div>
