[submodule "src/lib/dijit"]
	path = src/lib/dijit
	url = git://github.com/dojo/dijit.git
[submodule "src/lib/dojox"]
	path = src/lib/dojox
	url = git://github.com/dojo/dojox.git
[submodule "src/lib/util"]
	path = src/lib/util
	url = git://github.com/dojo/util.git
[submodule "src/lib/dojo"]
	path = src/lib/dojo
	url = git://github.com/dojo/dojo.git
[submodule "src/tests/jasmine"]
	path = src/tests/jasmine
	url = git://github.com/pivotal/jasmine.git
[submodule "src/lib/treehugger"]
	path = src/lib/treehugger
	url = git://github.com/ajaxorg/treehugger.git
