html, body {
    height: 100%;
    margin: 10px;
}

#contents{
    width: 90%;
}

.spec_header{
    width: 80%;
}

.grammar_spec{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    border-top: solid 3px #000000;
}

.grammar_left{
    width: 60%;
    border-right: solid 3px #000000;
}

.grammar_right{
    width: 40%;
    border-left: solid 3px #000000;
}