#content {
    height: 100%;
    width: 90%;
    margin: 10px;
}

.spec_header{
    width: 80%;
}

.grammar_spec{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    border: ridge 3px #000000;
}

.grammar_left{
    width: 60%;
    border-right: solid 1px #000000;
}

.grammar_right{
    width: 40%;
    border-left: solid 1px #000000;
}

.grammar_right > p{
    font: normal small "monaco", mono-space;
}